package {{.AdapterPackageName}};

{{if .IsRecyclerViewViewHolderMinimalShim -}}
import android.view.View;
{{end}}
import {{.JavaImportSource}};
{{if .HasDispatchMethods -}}
import center.dx.jni.internal.GoAbstractDispatch;
{{end}}

public class {{.AdapterClassName}} extends {{.JavaExtendsSource}} {
{{- if .HasDispatchMethods}}
    private final long handlerID;

    public {{.AdapterClassName}}(long handlerID) {
        this.handlerID = handlerID;
    }
{{range .Methods}}
    @Override
    public {{.JavaReturnType}} {{.JavaMethod}}({{.JavaParamList}}) {
        {{- if .HasReturn}}
        return {{.JavaCastReturn}} GoAbstractDispatch.invoke(
            handlerID, "{{.JavaMethod}}", new Object[]{ {{.JavaArgList}} }){{.JavaUnboxReturn}};
        {{- else}}
        GoAbstractDispatch.invoke(
            handlerID, "{{.JavaMethod}}", new Object[]{ {{.JavaArgList}} });
        {{- end}}
    }
{{end -}}
{{- else}}
    public {{.AdapterClassName}}(View itemView) {
        super(itemView);
    }
{{end -}}
}
